.header .title {
	font-family: 'Atomic Age', Georgia, serif;
	font-size: 28px;
}

body {
	background-color: #d2def2;
}

.content table{
	background-color: #FFFFFF;
	margin: 0 auto;
	width: 90%;
	text-align: left;
	overflow: hidden;
	border: 1px solid black;
}

.content td {
	border: 1px solid black;
	text-align: center;
	height: 200px;
	min-width: 200px;
}
.content img{
	max-height: 300px;
	max-width: 100%
}

/*font*/
@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  src: local('Atomic Age Regular'), local('AtomicAge-Regular'), 
	url(font/atomicage-regular.ttf) 
	format('truetype');
}